<h1 class="myFont m-sm-5">
  <p>使い方</p>
</h1>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <li>
        <%= image_tag 'selection_image.png', size: '300x200', class: 'guide_image' %>
        <h3 class="font-sarif-top m-sm-3"><p>1, 選択画面</p></h3>
        <P>新規登録orログイン後、選択画面から「振り譜作成」を選択します(ゲストログインでは登録なしでお試しいただけますが、ログアウト後データは全て消えてしまいます。)</p>
      </li>

      <li>
        <%= image_tag 'selection_2.png', size: '300x200', class: 'guide_image' %>
        <h3 class="font-sarif-top m-sm-3"><p>2,振り譜作成画面</p></h3>
        <P>振り譜作成画面から、音声・曲名・歌手名・ハッシュタグを記入出来ます。ハッシュタグには小道具や公演場所などを記入しておくと便利です！</p><br>
      </li>

      <li>
        <%= image_tag 'selection_3.png', size: '300x200', class: 'guide_image' %>
        <h3 class="font-sarif-top m-sm-3"><p>3,振り譜作成</p></h3>
        <P>Bのボタン(文字が太くなる)を押し、歌詞を書くとメリハリがつきます。更にクリップのボタンを押すと画像や写真を登録できます。最後に一番下の登録するボタンを押すと完成です！</p>
      </li>
    </div>
  </div>

