<div class="text-center">
  <%= image_tag 'okeiko_awase.png', size: '500x500', class: 'top_image' %>


  <div class="container">
    <div class="row">
      <div class="col-sm-4">
      </div>
    </div>
  </div>
</div>