<%= form_with model: note, local: true do |f| %>
  <%= render 'shared/flash', object: f.object %>
    
    <div class="field">
      <%= f.label :content %>
      <%= f.rich_text_area :content %>
    </div>
    
<% end %>