<h1>検索</h1>
    <%= search_form_for @q, url: search_notes_path do |f| %>
      <%= f.search_field :song_title_or_singer_name_cont, placeholder: t('defaults.search_word') %>
      <br>
      <%= f.submit '検索' %>
    <% end %>
