<div class="text-center">
  <h1 class="myFont mt-sm-2">振り譜新規作成画面</h1>

  <div class="container col-8">
    <div style="background-color:#EDF7FF;">
      <div class="row">
        <div class="col-md">
            <%= render 'form', { note: @note } %>
        </div>
      </div>
    </div>
  </div>
</div>

