<div class="text-center">
  <h1 class="myFont m-sm-3">
    <p>振り譜<br class="sma">作成画面</p>
  </h1>
  <div class="container border-aoiro">
    <div class="row">
      <div class="col-md">
          <%= render 'form', { note: @note } %>
      </div>
    </div>
  </div>
</div>
