<div class="text-center">
  <h1 class="myFont m-ms-3">
    <p>パスワード<br class="sma">を変更<br class="sma">しますか？</p>
  </h1>

  <div class="container col-xm-8 form-background">
    <div class="row">
      <%= form_with url: password_resets_path, local: true do |f| %>
        <div class="form-group mt-3 mb-3">
          <%= f.label :email, t('password_resets.new.email') %><br/>
          <%= f.text_field :email%>
        </div>
        <%= f.submit t('password_resets.new.submit'),class: 'btn btn-outline-primary' %>
      <% end %>
    </div>
  </div>
</div>