<div class="text-center">
  <h1 class="myFont m-sm-3">
    <p>簡易メモ<br class="sma">編集画面</p>
  </h1>

  <div class="container border-ao-min">
    <div class="row">
      <div class="col-md">
          <%= render 'form', { brief_note: @brief_note } %>
      </div>
    </div>
  </div>
</div>
