<div class="container text-center">

  <div class="row">
    <h1 class="myFont m-ms-3">
      <p>簡易メモ<br class="sma">一覧</p>
    </h1>

    <div class="container text-center m-ms-3 col-sm-12">
      <div class="form-group mt-3 mb-3">
        <%= button_to t('.brief_note'), new_brief_note_path, { method: :get, class: "memo" } %>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    <tbody>
      <% @brief_notes.each do |brief_note| %>
        <div class="card-group">
          <div class="card card-body">
            <a href="/brief_notes/<%= brief_note.id %>" data-method="delete" data-confirm='削除しますか?'>
              <i class="fa-solid fa-trash fa-pull-right pink_decoration"></i>
            </a>
            <p class="card-text"><%= brief_note.body %></p>
            <a href="/brief_notes/<%= brief_note.id %>/edit" class="btn btn-success">編集する</a>
          </div>
        </div>
      <% end %>
    </tbody>
  </div>
</div>
