<div class="text-center">
  <h1 class="myFont m-sm-3">
    <p>ユーザー<br class="sma">情報<br class="sma">変更画面</p>
  </h1>
  <div class="container">
    <div class="row">
      <div class="col-md">
          <%= render 'form', { user: @user } %>
      </div>
    </div>
  </div>
</div>


<div class="text-center mt-sm-3">
  <td><%= link_to 'ユーザー情報を削除する', @user, method: :delete, data: { confirm: '本当に削除しますか?' }, class: 'syousai' %></td>
</div>