<div class="container text-center m-ms-3 col-xm-12">
  <h1 class="myFont mt-sm-2">新規登録画面</h1>

  <div class="container col-xm-8 form-background">
    <div class="row">
      <%= render 'form', { user: @user } %>
    </div>
  </div>
</div>