<header> 
  <nav class="navbar navbar-expand-md" style="background-color: #e3f2fd;">
    <button class="btn btn-square btn-ghost">
      <%= link_to root_path do %>
        <%= image_tag 'okeiko_siro', size: "30x30" %>
      <% end %>
    </button>
  </nav>
</header>