<footer id="footer" class="footer footer-center p-6 bg-base-200" style="background-color: #e3f2fd;">
  <div class="grid grid-flow-col gap-4 ">
    <%= link_to '利用規約/', terms_of_service_path %> 
    <%= link_to 'プライバシーポリシー/', privacy_policy_path %> 
    <%= link_to 'お問い合わせ', 'https://twitter.com/n3Dlfljrvair9AK'%>  
  </div>
    <p class="text-primary-content">© 2022 - 日本舞踊のお稽古</p>
  </div>
</footer>

