/*
@import "~bootstrap/scss/bootstrap.scss";
@import '~@fortawesome/fontawesome-free/scss/fontawesome'; 
*/

body {
  background-color: #E6F8F9;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  margin: 0 auto;
}

.sort_link {
  color: #08031D;
}

input[type="search"] {
  width: 700px;
  height: 60px;
  border-radius: 20px;
}

input[type="text"] {
  width: 500px;
  height: 50px;
  border-radius: 20px;
}

input[type="password"]{
  width: 500px;
  height: 50px;
  border-radius: 20px;
}

.myFont{
  font-family: 'HanziPen SC','MS UI Gothic','Courier';
  font-size: 70px;
  font-weight: bolder;
  color: #E86ED0;
  -webkit-text-stroke: 1px #1c0f8b;
  text-stroke: 1px #1c0f8b;
}

.waku{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu{
  margin:0 0 0 auto;
}

footer{
  width: 100%;
  color: #0000008c;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  font-size: 10px;
}

#note_content{
  text-align: left;
}

.btn-outline-primary{
  width: 300px;
  height: 40px;
  border-radius: 10px;
  color:#fff;
  background: #00AEEF;
  font-family: 'HanziPen SC','MS UI Gothic','Courier';
  font-weight: bolder;
}

.btn-outline-primary:hover {
  color:#fff;
  background:#007DC5;
}

.memo{
  width: 300px;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  color:#fff;
  background: #00A2A4;
  font-family: 'HanziPen SC','MS UI Gothic','Courier';
  font-weight: bolder;
}

.memo:hover {
  color:#fff;
  background: #007C8A;
}

.syousai{
  font-size: 20px;
  color:#fff;
  background: #00A2A4;
  border-radius: 10px;
  text-decoration: none;
  margin: 20px;
  padding: 15px;
}

.syousai:hover {
  color:#00A2A4;
  background: #fff;
}

.alert-success{
  color:#fff;
  background: #00A2A4;
}

.alert-danger{
  color:#fff;
  background: #b84c97;
}

.font-serif{
  font-family: 'Hiragino Mincho Pro';
  font-size: 20px;
  font-weight: bolder;
}

.font-sarif-iro{
  font-family: 'HanziPen SC','MS UI Gothic','Courier';
  font-size: 20px;
  font-weight: bolder;
  color: #1c0f8b;
}

.border-index{
  color:#fff;
  font-size: 20px;
  width: 600px;
  height: 100px;
  border-radius: 30px;
  margin: 0 auto;
  background: #00A2A4;
}

.sma {
  text-align: center;
  display: none;
}

.border-aoiro{
  width: 910px;
  height: 840px;
  border-radius: 10px;
  background: #B1E8ED;
}

.border-aoiro-edit{
  width: 910px;
  height: 600px;
  border-radius: 10px;
  background: #B1E8ED;
}

.border-ao-min{
  width: 910px;
  height: 300px;
  border-radius: 10px;
  background: #B1E8ED;
}


/*ケータイのフォームサイズ*/
@media screen and ( max-width:479px )
{
	input[type="search"] {
    width: 700px;
    height: 60px;
    border-radius: 20px;
  }
  
  input[type="text"] {
    width: 250px;
  }
  
  input[type="password"]{
    width: 500px;
    height: 50px;
    border-radius: 20px;
  }

  .btn-outline-primary{
    width: 260px;
  }

  .border-index{
    width: 330px;
    height: 100px;
  }

  input[type="search"] {
    width: 250px;
  }

  .sma{
    display: block;
  }

  .border-aoiro{
    width: 380px;
    height: 780px;
  }

  .border-aoiro-edit{
    width: 380px;
    height: 450px;
  }

  .border-ao-min{
    width: 380px;
    height: 300px;
  }

  .syousai{
    display: block; 
    padding: 15px;
    margin: 0px; 
  }

  input[type="password"]{
    width: 280px;
  }

  .top_image{
    width: 300px;
    height: 300px;
  }
}